*       text=auto

*.html  text diff=html
*.css   text diff=css
*.json  text
*.js    text

*.yml   text

*.png   binary
*.ico   binary
*.svg   text
*.ttf   binary
*.woff  binary
*.woff2 binary
*.eot   binary
