
 .navbar-inverse {
   background: #0052cc !important;
   color: #fff !important;
 }

 .navbar-inverse .navbar-nav>li>a {
   color: #fff !important;
 }

 .navbar-inverse li:hover {
   color: #fff !important;
   background: rgba(0, 0, 0, 0.1) !important;
 }

 .navbar-inverse .active {
   background: rgba(0, 0, 0, 0.2) !important;
 }

