{% if site.theme_settings.rss %}
<li>
	<a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" title="{{ site.theme_settings.str_rss_follow }}">
		<i class="fa fa-fw fa-rss"></i>
	</a>
</li>
{% endif %}

{% if site.theme_settings.github %}
<li>
	<a href="https://github.com/{{ site.theme_settings.github }}" title="{{ site.theme_settings.str_follow_on }} GitHub">
		<i class="fa fa-fw fa-github"></i>
	</a>
</li>
{% endif %}

{% if site.theme_settings.gitter %}
<li>
	<a href="https://gitter.im/{{ site.theme_settings.gitter }}" title="Chat on Gitter">
		<i class="fa fa-fw fa-comments"></i>
	</a>
</li>
{% endif %}